d9:downloadsld9:allocatedi1e9:completedi123e12:creationTimei1306284515607e9:discardedi0e10:downloadedi681529e15:file_prioritiesli-1ei-1ei-1ee10:forceStarti0e13:hashfailbytesi0e5:maxdli0e5:maxuli0e10:persistenti1e8:positioni1e8:save_dir15:D:\Downloads\cd9:save_file38:How to Analyze People on Sight-Mantesh18:secondsDownloadingi54e18:secondsOnlySeedingi0e5:statei0e7:torrent132:D:\project\triplelands\downloader\src\com.cd.downloader\run-environment\az-config\torrents\torrentDownload5708368395134655476torrent12:torrent_hash20:1gÜXH Îæ7)®^ßÃ8:uploadedi0e7:uploadsi4eeee