
/src/chatdownloader/bin
/installer/bin-linux-x86-64
/installer/bin
/installer/bin-linux-x86-32
/src/com.cd.downloader/downloader-service
/src/com.cd.chat/chat-service
/src/com.cd.message/bin
/src/com.cd.downloader/bin
/src/com.cd.chat/bin
/installer/bin-win-x86-32